@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smoother rendering */
:root { color-scheme: light; }
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
